.question-title {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin-top: 10px;
  padding: 10px;
}

.quiz-container {
  display: flex;
  justify-content: space-between;
}

.action-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: move;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  min-height: 50px;
  background-color: var(--primary-color);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.action {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.drop-zone {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: move;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  min-height: 50px;
  background-color: var(--primary-color);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.action-list.cdk-drop-list-dragging .action-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
