<ng-template #successDialog>
  <div class="success-dialog">
    <h2>Félicitations !</h2>
    <p>Question has been created.</p>
    <button (click)="closeDialog()">OK</button>
  </div>
</ng-template>

<div class="question-title">
  <h2>Question title</h2>
</div>
<div class="quiz-container">
  <div
    class="action-list"
    cdkDropList
    #left="cdkDropList"
    [cdkDropListData]="actions"
    [cdkDropListConnectedTo]="[right]"
    (cdkDropListDropped)="onDrop($event)"
  >
    <div class="action" *ngFor="let action of actions" cdkDrag>
      {{ action.name }}
    </div>
  </div>
  <div
    class="drop-zone"
    cdkDropList
    #right="cdkDropList"
    [cdkDropListData]="sortedActions"
    [cdkDropListConnectedTo]="[left]"
    (cdkDropListDropped)="onDrop($event)"
  >
    <div class="action" *ngFor="let action of sortedActions" cdkDrag>
      {{ action.name }}
    </div>
  </div>
</div>
