<div class="question-title">
  <h2>Question title</h2>
</div>
<div class="quiz-container">
  <div class="action-list">
    <div
      class="action"
      *ngFor="let action of actions"
      cdkDrag
      [cdkDragData]="action"
    >
      action possible
    </div>
  </div>
  <div
    class="drop-zone"
    cdkDropList
    (cdkDropListDropped)="onDrop($event)"
    [cdkDropListData]="'sortedActions'"
  >
    <div class="action" *ngFor="let action of sortedActions">drop zone</div>
  </div>
</div>
