<div class="question-title" xmlns="http://www.w3.org/1999/html">
  <h2>Question title</h2>
</div>
<div class="quiz-container">
  <div
    class="action-list"
    cdkDropList
    #left="cdkDropList"
    [cdkDropListData]="actions"
    [cdkDropListConnectedTo]="[right]"
    (cdkDropListDropped)="onDrop($event)"
  >
    <div class="action" *ngFor="let action of actions" cdkDrag>
      {{ action.name }}
    </div>
  </div>
  <div
    class="drop-zone"
    cdkDropList
    #right="cdkDropList"
    [cdkDropListData]="sortedActions"
    [cdkDropListConnectedTo]="[left]"
    (cdkDropListDropped)="onDrop($event)"
  >
    <div class="action" *ngFor="let action of sortedActions" cdkDrag>
      {{ action.name }}
    </div>
  </div>
</div>

<ng-template #successDialog>
  <div class="dialog">
    <h2>Félicitations !</h2>
    <p>Vous avez réussi cette question</p>
    <p>Dans 5 seconde vous passerez a la suivante</p>
    <!-- <button (click)="closeDialog()">OK</button> -->
  </div>
</ng-template>
