<div class="card">
  <div class="card-header">
    <h3 class="card-title">Informations personnelles</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Nom</label>
        <input
          type="text"
          formControlName="first_name"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && formControls['first_name'].errors
          }"
        />
        <div
          *ngIf="submitted && formControls['first_name'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="formControls['first_name']['errors']['required']">
            Le nom est obligatoire
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Prenom</label>
        <input
          type="text"
          formControlName="last_name"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && formControls['last_name'].errors
          }"
        />
        <div
          *ngIf="submitted && formControls['last_name'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="formControls['last_name']['errors']['required']">
            Le prenom est obligatoire
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Age</label>
        <input
          type="number"
          formControlName="age"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && formControls['age'].errors
          }"
        />
        <div
          *ngIf="submitted && formControls['age'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="formControls['age']['errors']['required']">
            L'age est obligatoire
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea
          formControlName="description"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && formControls['description'].errors
          }"
        ></textarea>
        <div
          *ngIf="submitted && formControls['description'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="formControls['description']['errors']['required']">
            La description est obligatoire
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Relation</label>
        <input
          type="text"
          formControlName="relation"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && formControls['relation'].errors
          }"
        />
        <div
          *ngIf="submitted && formControls['relation'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="formControls['relation']['errors']['required']">
            La relation est obligatoire
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input
          type="text"
          formControlName="email"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && formControls['email'].errors
          }"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Telephone</label>
        <input
          type="text"
          formControlName="phone"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && formControls['phone'].errors
          }"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Image de profile</label>
        <input
          type="text"
          formControlName="profilePictureUrl"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && formControls['profilePictureUrl'].errors
          }"
        />
        <div
          *ngIf="submitted && formControls['profilePictureUrl'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="formControls['profilePictureUrl']['errors']['required']">
            L'image de profile est obligatoire
          </div>
        </div>
        <div *ngIf="profilePictureUrl">
          <img
            [ngSrc]="profilePictureUrl"
            alt="profilePictureUrl"
            width="100"
            height="100"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="loading"
      (click)="onSubmit()"
    >
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Enregistrer
    </button>
  </div>
</div>
