<div
  style="
    height: 15vh;
    background-color: rgba(var(--secondary-color-rgb), 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <h1 style="margin: 20px">{{ question.title }}</h1>
</div>
<div>
  <div
    *ngFor="let answer of rightAnswers"
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <p style="margin: 20px; font-weight: bolder; font-size: 10vh">
      {{ answer.text }}
    </p>
    <img
      *ngIf="answer.image"
      src="{{ answer.image }}"
      alt=""
      style="margin: 20px; max-height: 20vh"
      class="hide-s"
    />
  </div>
</div>
<div style="display: flex; align-items: center; justify-content: center">
  <button
    (click)="nextQuestion()"
    style="
      border: none;
      background-color: var(--primary-color);
      padding: 10px;
      cursor: pointer;
    "
  >
    Merci, J'ai compris
  </button>
</div>
