.card {
  padding: 30px;
  width: 15vw;
  margin-bottom: 20px;
}

.card-img {
  display: inline-block;
  width: 100%;
  border-radius: 50%;
  margin-bottom: 30px;
  object-fit: contain;
}

.card-title {
  text-align: center;
}

.text_light {
  color: var(--light-color);
}
