.homepage-img {
  display: inline-block;
  border-radius: 50%;
  object-fit: contain;
  width: 150px;
  aspect-ratio: 1/1;
}

.homepage-title {
  margin: 0;
  width: 200px;
}

.homepage-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  aspect-ratio: 2/3;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.text_light {
  color: var(--light-color);
}
