<div class="card">
  <div class="card-header">
    <h3 class="card-title">Tout les quiz</h3>
  </div>
  <div class="card-body">
    <table mat-table [dataSource]="dataSource" aria-label="Liste des quiz">
      <ng-container matColumnDef="Nom du Quiz">
        <th mat-header-cell *matHeaderCellDef>Nom du Quiz</th>
        <td mat-cell *matCellDef="let element">
          <div
            class="d-flex align-items-center justify-content-start flex-column flex-md-row"
          >
            <div class="mr-3 p-3">
              <img
                src="{{ element.imageUrl }}"
                alt="image"
                width="50px"
                height="50px"
                class="img-fluid rounded-circle"
              />
            </div>
            <div class="text-center text-md-left">
              {{ element.title }}
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="Nombre de questions">
        <th mat-header-cell *matHeaderCellDef>Nombre de questions</th>
        <td mat-cell *matCellDef="let element">
          {{ element.questions.length }} Questions
        </td>
      </ng-container>

      <ng-container matColumnDef="stage">
        <th mat-header-cell *matHeaderCellDef>Stade recommandé</th>
        <td mat-cell *matCellDef="let element">
          <div
            class="rounded"
            style="
              background-color: #f5f5f5;
              width: fit-content;
              height: fit-content;
              padding: 5px 10px;
              border-radius: 10px;
              color: #000000;
            "
          >
            Stade {{ element.stage }}
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="goToQuiz(row)"
      ></tr>
    </table>

    <mat-paginator
      [pageSize]="10"
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-end" style="height: 100%; width: 100%">
      <button class="btn btn-primary">Ajouter un quiz</button>
    </div>
  </div>
</div>
