$white: #fff;
$light-gray: #f8fafc;
$dark-gray: #eff1f2;
$border: #dee2e6;
$hover: #e9ecef;

#quesition_div {
  background: $white;
  padding: 1em;
  border-radius: 1em;
}

.form-control {
  margin-bottom: 1em;
}

input {
  background-color: $light-gray;
  margin-top: 1em;
}

input[type='file'] {
  display: none;
}

.custom-file-upload {
  background-color: $light-gray;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-left: 1em;
  border-radius: 0.5em;
  border: 1px solid $border;
}

.custom-file-upload:hover {
  background-color: $hover;
}

img {
  width: 18.75em;
  height: auto;
  margin: 1em;
  border-radius: 0.5em;
}
