// The message should be in a white bubble
@import '~bootstrap/dist/css/bootstrap.min.css';

// The message should be in a white bubble

.alert-info {
  background-color: #fff;
  border-color: #fff;
  color: #000;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
