#root {
  width: 90%;

  form {
    width: 80%;
  }

  margin: 0 auto;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  margin-top: 20px;
}
