.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(22, 160, 133, 0.3);
  width: 100%;
  height: 100px;
}

.title {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
}

.btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  background-color: var(--dark-color);
  width: 150px;
  height: 50px;
  border-radius: 10px;
  // change the font in roboto
  font-family: Roboto;
  color: white;
}

.hovered {
  background: var(--dark-color-dark);
}


