.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(var(--primary-color-dark-rgb), 0.3);
  width: 100%;
  height: 100px;
}

.title {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}

.header-button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
}

.hovered {
  background: var(--dark-color-dark);
}
