<div class="card">
  <div class="card-header">
    <h3 class="card-title">Quiz</h3>
  </div>
  <div class="card-body">
    <table mat-table [dataSource]="dataSource" aria-label="Liste des quiz">
      <ng-container matColumnDef="Nom du Quiz">
        <th mat-header-cell *matHeaderCellDef>Nom du Quiz</th>
        <td mat-cell *matCellDef="let element">
          <div
            class="d-flex align-items-center justify-content-start flex-column flex-md-row"
          >
            <div class="mr-3 p-3">
              <img
                src="{{ element.imageUrl }}"
                alt="image"
                width="50px"
                height="50px"
                class="rounded-circle"
              />
            </div>
            <div class="text-center text-md-left">
              {{ element.title }}
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="Nombre de questions">
        <th mat-header-cell *matHeaderCellDef>Nombre de questions</th>
        <td mat-cell *matCellDef="let element">
          {{ element.questions.length }} Questions
        </td>
      </ng-container>

      <ng-container matColumnDef="stage">
        <th mat-header-cell *matHeaderCellDef>Stade recommandé</th>
        <td mat-cell *matCellDef="let element">
          <div
            class="rounded"
            style="
              background-color: #f5f5f5;
              width: fit-content;
              height: fit-content;
              padding: 5px 10px;
              border-radius: 10px;
              color: #000000;
            "
          >
            Stade {{ element.stage }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="isPrivate">
        <th mat-header-cell *matHeaderCellDef>Privé</th>
        <td mat-cell *matCellDef="let element">
          <div
            style="
              width: fit-content;
              height: fit-content;
              padding: 5px 10px;
              border-radius: 10px;
              color: #000000;
            "
          >
            {{ element.isPrivate ? 'Oui' : 'Non' }}
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button
            class="btn btn-danger"
            (click)="onDeleteQuiz(element.id, $event)"
          >
            Supprimer
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="row-hover"
        (click)="onQuizClicked(row, $event)"
      ></tr>
    </table>

    <mat-paginator [pageSize]="10" aria-label="Paginator"> </mat-paginator>
  </div>
  <div class="card-footer">
    <div
      class="d-flex justify-content-end gap-3"
      style="height: 100%; width: 100%"
    >
      <button class="btn btn-primary" (click)="onAddQuiz()">
        Ajouter un quiz
      </button>
      <button class="btn btn-primary" (click)="onAddPersonalQuiz()">
        Ajouter un quiz personnalisé
      </button>
    </div>
  </div>
</div>
