<div class="card container">
  <div class="card-body row">
    <div class="col-6 d-flex align-items-center">
      <input
        type="text"
        class="form-control"
        placeholder="Réponse textuelle"
        [(ngModel)]="answer.text"
      />
    </div>
    <div class="col-6">
      <img
        *ngIf="answer.image"
        [src]="answer.image"
        class="img-fluid"
        alt="Image de la réponse"
      />
      <input
        *ngIf="!answer.image"
        type="file"
        accept="image/*"
        class="form-control"
        id="imageAnswer"
        (change)="onFileSelected($event)"
      />
      <label *ngIf="!answer.image" for="imageAnswer" class="custom-file-upload"
        >Upload</label
      >
    </div>
  </div>
</div>
