$white: #fff;
$light-gray: #f8fafc;
$dark-gray: #eff1f2;
$gray: #d9d9d9;
$black: #000;
$border-color: #eeeff4;

#answer_div {
  background: $white;
  padding: 1em;
  border-radius: 1em;
}

.row {
  border-bottom: 2px solid $border-color;
}

.form-control {
  margin-bottom: 1em;
}

input {
  background-color: $light-gray;
}

#exampleFormControlFile1::-webkit-file-upload-button {
  background-color: $dark-gray;
}

.align_text {
  text-align: center;
}

#add-question-button {
  display: inline-block;
  border: none;
  margin-top: 0.5em;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
