.quiz-item {
  display: flex;
  align-items: center; /* centrer verticalement */
  justify-content: center; /* centrer horizontalement */
  margin: 0 auto; /* centrer la div */
  border-radius: 10px;
  width: 100%;
}

.quiz-item-button {
  display: flex;
  align-items: center; /* centrer verticalement */
  background: var(--primary-color);
  width: 100%;
  border-radius: 10px;
  justify-content: space-around;
  cursor: pointer;
}

.quiz-item-button > img {
  height: 20vh;
  aspect-ratio: 1/1;
  padding: 20px;
  border-radius: 100vh;
  object-fit: cover;
}

svg {
  height: 4rem;
  padding-left: 20px;
}

h3 {
  flex: 1; /* pousser le titre vers la droite */
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
}

.hovered {
  background: var(--primary-color-dark);
}
