.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.answer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.question-title {
  font-size: 6rem;
  margin: 20px 0;
  text-align: center;
  font-weight: 500;
}

.help-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.help-button {
  padding: 30px;
  margin: 30px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.help-button > p {
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
}

.help-button > svg {
  margin: 0 10px;
  height: calc(2rem + 6px);
}

.message-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.button {
  padding: 30px;
  border-radius: 20px;
  margin: 15px;
  min-width: 500px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.button > p {
  font-size: 4rem;
  text-align: center;
}

.button > img {
  width: 100%;
  height: 100%;
  max-width: 13vw;
  object-fit: cover;
  border-radius: 20px;
}

.hovered {
  background-color: var(--primary-color-dark);
}

.selected {
  outline: 10px solid var(--dark-color);
}

.disabled {
  opacity: 0.2;
}
